.notFound {

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    &__container {
        @include responsive(small){
            position: absolute;
            top: 60vh;
            left: 208px;
            width: 100%;
        }
        &__h1 {
            border-right: none !important;
            font-size: 6rem !important;
            color: rgb(14, 28, 64) !important;
            text-decoration: line-through !important;
            @include responsive(small){
                font-size: 10rem !important;
            }
        }
        &__p {
            margin-top: -1rem;
            font-size: 1.6rem;
            @include responsive(small){
                font-size: 2.6rem !important;
            }
        }
    }
}